<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>


<p>
  <strong>Profile Picture:</strong>
  <%= image_tag(@user.profile_photo_file_name) %>
</p>

<p>
  <strong>Avatar Normal:</strong>
  <%= image_tag @user.avatar.url %>
</p>  

<p>
  <strong>Avatar Medium:</strong>
  <%= image_tag @user.avatar.url(:medium) %>
</p>

<p>
  <strong>Avatar Thumb:</strong>
  <%= image_tag @user.avatar.expiring_url(10, :thumb) %>
</p> 


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
