<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Photo:</strong>
  <%= image_tag serve_user_photo_path(@user) %>
</p

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
