<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Blob Image</strong><br>
  <%= image_tag user_blob_serve_path(user_id: @user), class: "blob" %>
</p>

<p>
  <strong>File Image</strong><br>
  <%= image_tag "/uploads/#{@user.filename}", class: "blob" %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
